### For loop : iterating over a sequence 
    
       syntax of for loop 
           
               for i in collection:
                   #statements/body

In [7]:
x = [20, False, 23,32,234234,32]

for val in x:
    print(val,end=" ")

20 False 23 32 234234 32

In [9]:
string = "ELEPHANT"

for letter in string:
    print(letter,end=",")

E,L,E,P,H,A,N,T,

### range() : built-in function generates a sequence between the given interval

In [15]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [25]:
num = int(input("enter your number"))
for i in range(1, num+1):
    if(i%5==0):
        print(i,end=" ")

enter your number200
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200

In [28]:
num = int(input("enter your number"))
for i in range(1,11):
    res= num*i
    print(f"{num} X {i} = {res}")

enter your number2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

###
1. wap to find the product of the digits of any entered number
2. wap to enter any string and print the vowels present in the string
3. wap to print the factors of an entered number
4. wap to check if the entered string is pallindrome or not
5. wap to check if the entered number is pallindrome or not
6. wap to count the number of digits and alphabets present in the entered string

In [31]:
initial = "hello"
initial[::-1]

'olleh'

In [2]:
val = input("enter your value")

reversed = ""

for s in val:
    reversed = s + reversed
print(reversed)

enter your valuehello
olleh

### jump statements ---> it is used to break the normal flow of the program

### break statement:

In [5]:
for i in range (1, 11):
    print(i)
    break

1

In [12]:
for i in range(1, 21):
    if i%6==0:
        break
    print(i)

1
2
3
4
5

### continue: this keyword is used to prevail the iteration of the loop

In [15]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [17]:
for i in range(10,21):
    if i%2 ==0:
        print("in between coninue",i)
        continue
    print(i)

in between coninue 10
11
in between coninue 12
13
in between coninue 14
15
in between coninue 16
17
in between coninue 18
19
in between coninue 20

### pass: this keyword is used to pss the staements to write the empty conditions

In [21]:
if 2>3:
    pass
else:
    print("hello")

hello

In [24]:
for i in "python":
    pass
print("hello")

hello