# List , tuple , set , dictonary

In [ ]:
lists are mutable --> we can modify the data

In [1]:
num = [1,2,3,4]

In [2]:
print(num)

[1, 2, 3, 4]

In [3]:
num= ["hello"]

In [4]:
print(num
     )

['hello']

In [5]:
num = [1,2,3,4,"java", "cricket"]

In [6]:
print(num)

[1, 2, 3, 4, 'java', 'cricket']

In [7]:
num[1]

2

In [8]:
num[-1]

'cricket'

In [9]:
num[0]

1

In [10]:
num[2:]

[3, 4, 'java', 'cricket']

In [11]:
num[2:4]

[3, 4]

In [13]:
name=["ravi","hari","syam"]

In [14]:
print(name)

['ravi', 'hari', 'syam']

In [15]:
total = [num , name]

In [16]:
print(total)

[[1, 2, 3, 4, 'java', 'cricket'], ['ravi', 'hari', 'syam']]

In [17]:
num.append(2)

In [18]:
print(num)

[1, 2, 3, 4, 'java', 'cricket', 2]

In [19]:
num.pop()

2

In [20]:
print(num)

[1, 2, 3, 4, 'java', 'cricket']

In [21]:
num.insert(3,5)

In [22]:
print(num)

[1, 2, 3, 5, 4, 'java', 'cricket']

In [23]:
num.remove(5)

In [24]:
print(num)

[1, 2, 3, 4, 'java', 'cricket']

In [25]:
num.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
num= [2,3,14,1,10]

In [27]:
num.sort()

In [28]:
print(num)

[1, 2, 3, 10, 14]

### tuples

In [29]:
#immutable ----> value cant be modified

In [41]:
a = (1,2,"hello",False,1,1,5)

In [36]:
(1,2,"hello",False,1,1,5)
a[2]

'hello'

In [37]:
a[2]= 2

TypeError: 'tuple' object does not support item assignment

In [43]:
a.count(1)

3

### set

In [51]:
a = {2,23,234,1, 0, 999,1221,12,2,23,999}

In [52]:
print(a)

{0, 1, 2, 1221, 999, 234, 12, 23}

In [53]:
a= 10
b=20

In [55]:
a,b = b,a

20 10
10 20

In [59]:
a=a+b
a=a-b
b=b-a

### Dict

In [63]:
#key:value
#key must ne unique and immutable

In [64]:
value ={
    1: "java",
    2: "js",
    3: "python",
    5: "php"
    
}

In [65]:
value[2]

'js'

In [71]:
value[5]

'php'

In [73]:
print(value.get(3))

python

In [74]:
key = [1,2,3,4]
value= ["java","php","ruby","golang"]

In [77]:
data =dict( zip(key,value))

In [78]:
print(data)

{1: 'java', 2: 'php', 3: 'ruby', 4: 'golang'}

In [79]:
data[2]

'php'

In [81]:
data[5]= "js"

In [82]:
print(data)

{1: 'java', 2: 'php', 3: 'ruby', 4: 'golang', 5: 'js'}

In [84]:
del data[5]

In [85]:
print(data)

{1: 'java', 2: 'php', 3: 'ruby', 4: 'golang'}

In [86]:
a= 12
b= 10
c= a+b
print (c)

22

In [92]:
a = int(input("enter your 1st number"))

b = int(input("enter your 2nd number"))
c= val1 + val2
print ("sum is" ,c)

enter your 1st number12
enter your 2nd number12
sum is 22

In [ ]:
. Write a program to perform arithmetic operation.(+,-,\*,/,%)

. Write a program to display the area of a triangle.

. Write a program to display area of a square.

. Write a program to display area of a circle.